/*  
    Beñat Morisset de Pérdigo
    13/09/2018
*/

/*****************Body*******************/
body
{
  /*font: 20px/1.5 Consolas;/**/
  /*font: 20px/1.5 'Roboto', sans-serif;/**/
  font: 20px/1.5 'Source Code Pro', monospace;/**/
  
  padding:0;
  margin:0;
  
  background-color: #000000;
  color: #ffffff;
  
  /*
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;*/
}

/*****************General Links*******************/
a
{
  color:Purple;
  background-color: transparent;
  text-decoration:none; /*removes underline*/
}
a:hover
{
  color:Yellow;
  background-color: transparent;
  font-weight:bold;
}
/*
body p a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
body p a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
*/

/**********Border***************/
#chaosborder
{ 
  border: 10px solid transparent;
  padding: 45px;
  margin: 10px;
  border-color: rgb(0, 0, 0); /*rgb(0, 6, 238);*/
}

/***************Header******************/
header
{
  text-align: center;
}
header h1
{
  float:left;
}
#indexheaderh1 /*spetial for index page*/
{
  float:none;
  color:red;
}

/****************Nav*******************/
nav
{
  float:right;
}
#indexnav /*spetial for index page*/
{
  float:none;
}
nav ul
{
  float:right;
  padding-top:45px; /*to make it aligned with the h1*/
}
#indexul /*spetial for index page*/
{
  float:none;
  padding-top:auto;
}
nav ul li
{
  display: inline-block; /*to avoid separating PIXEL ART*/
}
nav a
{
  color:#ffffff; /*white*/
  text-decoration:none; /*removes underline*/
  text-transform: uppercase;
  font-size:16px;
}
nav a:hover
{
  color:Yellow;
  font-weight:bold;
}
.highlight, .current a
{
  color:Yellow;
  font-weight:bold;
}

.secret a
{
  color:Black;
}

/***************Lists******************/
ul
{
  margin:0;
  padding:0;
  text-align: center;
}
li
{
  list-style: none; /* removes bullets */
  display:inline; /*displayed in line instead of column */
  padding:0 20px 0 0; /* top right bot left */
}

/******************Featured*******************/
.featured
{
}

.featured li div
{
  display: inline-block;
  width:29%;
  overflow: hidden;
}

.featured li a div
{
  display: inline-block;
  width: 40%;
  max-width: 256px;
}

.featured li a div
{
  width:calc(40% - 2*2px); /*padding is 2px*/
  padding:2px;
}
.featured li a div:hover
{
  border:2px solid yellow;
  padding:0px;
}

#AA_image
{ 
  width: 512px;
  height: 512px;
  max-width: 512px;
  max-height: 512px;
}

/*****************Container*******************/
.container
{
  width:90%; /*of window width*/
  margin:auto; /*to have it in the middle*/
  overflow:hidden; /* so whats outside is hidden */
  
  display: block; 
}



/**********************************************************/
/**                        Games                         **/
/**********************************************************/

/*****************GameBox*******************/
.gamebox
{
  background-color: #000000;
  height:256px;
  overflow:hidden; /* so whats outside is hidden */
  margin: 5px 0 5px 0;
  border:2px solid #333333;
}
.gamebox a img
{
  height:calc(100% - 2*2px); /*padding is 2px*/
  float:left;
  padding:2px;
}
.gamebox a img:hover
{
  border:2px solid yellow;
  padding:0;
}

/*****************Trailer*******************/
.trailer
{
  background-color: #000000;

  margin: 35px 0 15px 0;
  border:2px solid #333333;
  
  /*display: block; /*not sure if this is needed*/ 
}

.trailer iframe
{
  /*make video adjust to window size but dont get bigger than 480p*/
  width: 100%;
  height: calc(0.5*100vw);
  max-height: 480px;
  max-width: 640px;
  float: center;
  
  /*to make it centered*/
  display: block; 
  margin: auto;
  text-align: center
}

.trailer img
{
  /*make image adjust to window size but dont get bigger than 480p*/
  width: 100%;
  height: calc((9/16)*100vw);
  max-width: 640px;
  max-height: calc((9/16)*640px);
  
  float: center;
  
  /*to make it centered*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.trailer h3
{
  padding-top: 10px;
  /*color: yellow;*/
  background-color: transparent;
  /*text-decoration: underline;*/
}

.trailer div
{
  padding-top: 16px;
}

.trailer h5
{
  padding-left: 16px;
}

.trailer h5,
.trailer p.inl
{
  display: inline;
  
  /*vertical-align: top;*/
}

/**********************************************************/
/**                      Pixel Art                       **/
/**********************************************************/
/*not needded as chaos border sets pixelated the whole body*/
.pixelperfect
{
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
}


/**********************************************************/
/**                        Mobile                        **/
/**********************************************************/

/* Media Querie used to change layout for mobiles (tablet width limit=768px)*/
@media(max-width:1000px) /*1000 for it to change before problems in Pixel Art*/
{
  /*4Dbug*/
  /*body
  {
    display:none;
  }*/
  
  /**********Background, body and border***************/
  #chaosborder { 
    border: 8px solid transparent;
    padding: 0;
    margin: 8;
    border-color: rgb(0, 0, 0);/*rgb(0, 6, 238);*/
  }
  
  /*******************Header*******************/
  header h1
  {
    float:none;
    color:red;
  }
  /*******************Nav*******************/
  nav
  {
    float:none;
  }
  nav ul
  {
    float:none;
    padding-top:auto;
  }

  /*****************Container*******************/
  .container
  {
    width:100%; /*of window width*/
    margin:none; /*to have it in the middle*/
    overflow:hidden; /* so whats outside is hidden */
  }

  /*****************PixelArt*******************/
  img /*should be only for pixelart images*/
  {
    height:256px;
    width:256px;
  }
  
  /******************Featured*******************/
  .featured
  {
  }
  
  .featured li div /*used for AA images*/
  {
    display: inline-block;
    width:256px;
    /*width: 29%*/
  }

  .featured li a div
  {
    display: inline-block;
    width:256px;
  }

  .featured li a div
  {
    display: inline-block;
    /*border:2px solid #333333;*/
  }
  
  #AA_image { 
    width: 256px;
    height: 256px;
  }
  
  /*****************GameBox*******************/
  .gamebox
  {
    height:auto; /*to have the text wrap under the image if needed*/
  }
  .gamebox a img
  {
    height:calc(100% - 2*2px); /*padding is 2px*/
    float:center;
    padding:2px;
  }
}